﻿@{
	ViewData["Title"] = "GoBarbra!!";
}



<h1>
	Enter your name:
</h1>
<div id="head-message-area"></div>
@using (Html.BeginForm())
{
<div class="row">
	<div class="col-lg-10">
		<div class="input-group">
			<input type="text" class="form-control" id="gb_usr_name" placeholder="Enter your name" />
			<span class="input-group-btn">
				<button class="btn btn-warning" type="submit" id="go-barbra-button">Go Barbra!</button>
			</span>
		</div>
	</div>
</div>
}
