﻿@{
	ViewData["Title"] = "GoBarbra!!";
}



<h1>
	Enter your name:
</h1>
<div id="head-message-area"></div>

<div class="row">
	<div class="col-lg-10">
		<div class="input-group">
			<input type="text" class="form-control" id="gb_usr_name" placeholder="Enter your name" />
			<span class="input-group-btn">
				<button class="btn btn-warning" type="button" id="go-barbra-button">Go Barbra!</button>
			</span>
		</div>
	</div>
</div>



<script>
	$(document).ready(function () {

		$('#go-barbra-button').click(function () {
			var serviceURL = '@Url.Action("GetGoBarbra", "Home")';
			var insertedValue = $('#gb_usr_name').val();

			if (insertedValue) {

				$.ajax(
					{
						url: serviceURL,
						data: { 'Name': insertedValue },
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						success: displayData
					}
				);
			} else {
				//$('#head-message-area').append("<div class='alert alert- danger' >Ratuuunku!</div>");
				alert("Musisz wpisać imie :)")
			}
		});

		function displayData(response) {
			if (response != null) {
				window.location.href = "Home/PlayGoBarbra?filePath=" + response;
			}
		}
	});




</script>